.subDiv{
    background: rgba(9, 140, 14, 0.66);
    height: 48px;
}

.img-fluid{
    width: 200px;
    height: 40px;
}
.option{
    display: inline-flex;
    padding-top: 10px;
    padding-left: 300px;
    .spa{
        padding-left: 50px;
    }
}
.div2{
    height: 50px;
}
.div3{
    padding-left: 100px;
    width: 400px;
}
.side{
    padding-left: 100px;
    padding-top: 50px;
}
.icon-white {
    color: white;
    width: 150px;
  }