<div class="container">
  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-lg btn-success">Filter Seller Products</button>
      <div class=" side-list">
        <h1>Category</h1>
        <div class="spa"><a>Suits(433)</a></div>
        <div class="spa"><a>Shirts(453)</a></div>
        <div class="spa"><a>Trousers(345)</a></div>
        <div class="spa"><a>Wedding(434)</a></div>
        <div class="spa"><a>Jackets(333)</a></div>
        <h3 style="padding-top: 30px;">PRICE</h3>
        <div class="slidecontainer">
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
        <ul>
          <li><h3>Color</h3></li>
          <li>Black</li>
          <li>Orange</li>
          <li>Blue</li>
          <li>Brown</li>
          <li>Dark Green</li>
        </ul>
        
        <ul>
          <li><h3>Type</h3></li>
          <li>Orange</li>
          <li>Single Brasslet</li>
          <li>Madridhgl</li>
          <li>Todraruh Style</li>
          <li>Dark Green</li>
        </ul>
      </div>
        
      
    </div>
    <div class="col-9">
      <div class="listing">
        <div class="spa"><a>Shamsue Product Store</a></div>
        <div class="spa"><a>Show 12 per page</a></div>
        <div class="spa"><a>Sort by Popularity</a></div>
        <div class="spa"><a>View your choice</a></div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="row">
            <div class="col-2">
              <img src="../../../assets/images/suit.webp" style="width: 150px; height: 230px;">
            </div>
            <div class="col-10">
              <div class="card-body">
                <h3 class="card-title">Net Streched Suit <span style="color: #d3d011; font-weight: 500px;">${{price}}</span><i class="bi bi-arrow-left-right"  style="padding-left: 400px;"></i>&nbsp;&nbsp;&nbsp;<i class="bi bi-heart-fill blue-color"></i></h3>
                <span class="card-description">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, iste totam temporibus consequuntur autem repudiandae tempora. Consectetur, aperiam rerum minima voluptates iste enim tempora, magni eaque atque est accusantium vero?
                </span>
                <span>
                <h3 style="padding-top: 20px;">Size {{ size}}</h3>
                <button type="button" class="btn btn-success btn-circle">ADD TO CART</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="row">
            <div class="col-2">
              <img src="../../../assets/images/suit.webp" style="width: 150px; height: 230px;">
            </div>
            <div class="col-10">
              <div class="card-body">
                <h3 class="card-title">Net Streched Suit <span style="color: #d3d011; font-weight: 500px;">${{price}}</span><i class="bi bi-arrow-left-right"  style="padding-left: 400px;"></i>&nbsp;&nbsp;&nbsp;<i class="bi bi-heart-fill blue-color"></i></h3>
                <span class="card-description">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, iste totam temporibus consequuntur autem repudiandae tempora. Consectetur, aperiam rerum minima voluptates iste enim tempora, magni eaque atque est accusantium vero?
                </span>
                <span>
                <h3 style="padding-top: 20px;">Size {{ size}}</h3>
                <button type="button" class="btn btn-success btn-circle">ADD TO CART</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="row">
            <div class="col-2">
              <img src="../../../assets/images/suit.webp" style="width: 150px; height: 230px;">
            </div>
            <div class="col-10">
              <div class="card-body">
                <h3 class="card-title">Net Streched Suit <span style="color: #d3d011; font-weight: 500px;">${{price}}</span><i class="bi bi-arrow-left-right"  style="padding-left: 400px;"></i>&nbsp;&nbsp;&nbsp;<i class="bi bi-heart-fill blue-color"></i></h3>
                <span class="card-description">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, iste totam temporibus consequuntur autem repudiandae tempora. Consectetur, aperiam rerum minima voluptates iste enim tempora, magni eaque atque est accusantium vero?
                </span>
                <span>
                <h3 style="padding-top: 20px;">Size {{ size}}</h3>
                <button type="button" class="btn btn-success btn-circle">ADD TO CART</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
