<nav class="navbar navbar-light mainNav">
    <div class="container-fluid">
        <div class="drop">
            <select class="form-control input" required>
              <option value="ajay">English</option>
              <option value="others">Hindi</option>
            </select>
            <select class="form-control input" required>
                <option value="ajay">USD</option>
                <option value="others">INR</option>
            </select>
          </div>
          <div class="button">
            <button type="button" class="btn btn-primary btn-circle">login</button>
            <div class="space"></div>
            <button (click)="register()" type="button" class="btn btn-info btn-circle">register</button>
        </div>
    </div>
  </nav>
<app-sub-header></app-sub-header>