.mainNav{
    // background: linear-gradient(90deg,rgb(20, 211, 26),rgb(128, 196, 130) );
    background: rgb(49, 214, 54);
}

.space{
    padding: 5px;
}
.drop{
    display: inline-flex;
    width: 150px;
    height: 35px;
}
.button{
    display: inline-flex;
    
}
.btn-circle{
    width: 100px;
    height: 35px;
    /* padding: 6px 0px; */
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
}

.input{
    border-radius: 0px;
    font-size: 14px;
}