.login{
    background-image: url("../../assets/images/login.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
.login-page{
    width: 400px;
    height: 600px;
    padding-top: 20px;
    background: #fff;
    border-radius: 10px;
}
.form-group{
    text-align: left;
    // padding-top: 20px;
    padding-left: 30px;
}

.button{
    button{
        width: 350px;
        border-radius: 10px;
    }
}
.fb{
    border-color: aqua;
    border-width: 1px;
    text-decoration: none;
}
.b{
    display: flex;
    padding: 30px;
}
