<div class="container" style="padding-top:20px; padding-bottom: 50px;" data-aos="fade-up" data-aos-offset="200"
  data-aos-delay="20" data-aos-duration="800">
  <div>
    <h1 class="aos-item" data-aos="fade-up" data-aos-offset="200" data-aos-delay="20" data-aos-duration="1000">Featured
      Listings
      <i class="bi bi-arrow-right" style="float: right;"></i>
      <i class="bi bi-arrow-left" style="float: right;"></i>
    </h1>
  </div>
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem class="slide">
      <div class="row">
        <div class="col-3">
          <div class="card">
            <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">
              </p>
              <nz-rate [ngModel]="2.5" nzAllowHalf></nz-rate>
              <i class="fa fa-star checked"></i>
              <div>
                <i class="fa fa-star checked"></i>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <nz-rate [ngModel]="2.5" nzAllowHalf></nz-rate>
                <i class="bi bi-heart icon-white" style="padding-left: 180px;"></i>
                <i class="bi bi-cart icon-white" style="padding-left: 10px;"></i>
              </div>
            </div>

          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <i class="bi bi-heart icon-white" style="padding-left: 180px;"></i>
              <i class="bi bi-cart icon-white" style="padding-left: 10px;"></i>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <i class="bi bi-heart icon-white" style="padding-left: 180px;"></i>
              <i class="bi bi-cart icon-white" style="padding-left: 10px;"></i>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <i class="bi bi-heart icon-white" style="padding-left: 180px;"></i>
              <i class="bi bi-cart icon-white" style="padding-left: 10px;"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top:20px;">
        <div class="col-3">
          <div class="card">
            <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>

<div class="div4">
  <i class="bi bi-arrow-right" style="float: right; padding-right: 20px;"></i>
  <i class="bi bi-arrow-left" style="float: right;"></i>
  <div class="container">
    <h1 data-aos="fade-up" data-aos-offset="200" data-aos-delay="20" data-aos-duration="1000">Exclusive Services

    </h1>
    <div class="row">
      <div class="col-4">
        <div class="card" data-aos="slide-right" data-aos-offset="200" data-aos-delay="30" data-aos-duration="2000">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" data-aos="slide-down" data-aos-offset="200" data-aos-delay="20" data-aos-duration="1000">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" data-aos="slide-left" data-aos-offset="200" data-aos-delay="30" data-aos-duration="2000">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
    <div style="float: right; padding-top: 20px;">
      <h4><a>See all</a></h4>
    </div>
  </div>
</div>

<div class="div5">
  <i class="bi bi-arrow-right" style="float: right; padding-right: 20px;"></i>
  <i class="bi bi-arrow-left" style="float: right;"></i>
  <div class="container">
    <h1 data-aos="slide-right" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">Recent Custom Made Jobs

    </h1>
    <div class="row">
      <div class="col-4">
        <div class="card" data-aos="slide-up" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" data-aos="slide-up" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" data-aos="slide-up" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
    <div style="float: right; padding-top: 20px;">
      <h4><a>See all</a></h4>
    </div>
  </div>
</div>

<div class="container" style="padding-top:20px; padding-bottom: 50px;">
  <div>
    <h1 data-aos="fade-left" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">Live & Upcoming Auctions
    </h1>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card" data-aos="slide-left" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">
        <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" data-aos="slide-up" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">
        <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" data-aos="slide-right" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">
        <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top:20px;">
    <div class="col-4">
      <div class="card" data-aos="slide-down" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">
        <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" data-aos="slide-down" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">
        <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" data-aos="slide-left" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">
        <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div6">
  <i class="bi bi-arrow-right" style="float: right; padding-right: 20px;"></i>
  <i class="bi bi-arrow-left" style="float: right;"></i>
  <div class="container">
    <h1 data-aos="slide-right" data-aos-offset="200" data-aos-delay="10" data-aos-duration="2000">Latest Blogs</h1>
    <div class="row">
      <div class="col-4">
        <div class="card" data-aos="slide-right" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" data-aos="slide-down" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" data-aos="slide-left" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1000">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
    <div style="float: right; padding-top: 20px;">
      <h4><a>See all</a></h4>
    </div>
  </div>
</div>

<div class="div7">
  <i class="bi bi-arrow-right" style="float: right; padding-right: 20px;"></i>
  <i class="bi bi-arrow-left" style="float: right;"></i>
  <div class="container">
    <h1 data-aos="fade-up" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">Best Selling Products</h1>
    <div class="row" data-aos="slide-up" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">
      <div class="col-3">
        <div class="card">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
    <div style="float: right; padding-top: 20px;">
      <h4><a>See all</a></h4>
    </div>
  </div>
</div>

<div class="div8">
  <i class="bi bi-arrow-right" style="float: right; padding-right: 20px;"></i>
  <i class="bi bi-arrow-left" style="float: right;"></i>
  <div class="container">
    <h1 data-aos="slide-left" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">Technical Services

    </h1>
    <div class="row" data-aos="slide-up" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">
      <div class="col-4">
        <div class="card">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="../../assets/images/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
    <div style="float: right; padding-top: 20px;">
      <h4><a>See all</a></h4>
    </div>
  </div>
</div>

<div class="div9">
  <h1 style="text-align: center;" data-aos="slide-left" data-aos-offset="200" data-aos-delay="10"
    data-aos-duration="1500">Sponsorship</h1>
  <div class="container gap">

    <div class="row">
      <div class="col-8 spon" data-aos="slide-right" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">
        <div>
          <p>kjgyljjkgyf kjba isi a isu a</p>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-4 spon1" data-aos="slide-left" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">
        <div>
          <p>kjhousahk ssajsal slhsali lj</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div10">
  <div class="aff">
    <h1 data-aos="slide-right" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">Affordable Pricing
    </h1>
    <p data-aos="fade-up" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">Billed Early</p>
  </div>
  <div class="container pad">
    <div class="row">
      <div class="col-lg-3 hot-badge" data-aos="slide-left" data-aos-offset="200" data-aos-delay="10"
        data-aos-duration="1500">
        <div class="basic">
          <h2>Basic Users</h2>
          <h4>Free/Forever</h4>
          <h4><i class="bi-2x bi-check-circle-fill icon-basic"></i>&nbsp;&nbsp;Add up to 40 listings.</h4>
          <h4><i class="bi-2x bi-check-circle-fill icon-basic"></i>&nbsp;&nbsp;Add up to 5 images to each<br> listings.
          </h4>
          <h4><i class="bi-2x bi-check-circle-fill icon-basic"></i>&nbsp;&nbsp;Messaging.</h4>
          <h4><i class="bi-2x bi-check-circle-fill icon-basic"></i>&nbsp;&nbsp;Shipping profiles.</h4>
          <h4><i class="bi-2x bi-check-circle-fill icon-basic"></i>&nbsp;&nbsp;Social Media sharing.</h4>
          <p>
            On each sale we charge 10% plus<br>
            10 cents (for porducts) or 20% plus<br>
            20 cents (for Services)
          </p>
          <h4 style="text-align: center; color:blue"><a>See more...</a></h4>
          <div class="butn">
            <button type="button" class="button">Try for Free</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 hot-badge1" data-aos="slide-down" data-aos-offset="200" data-aos-delay="10"
        data-aos-duration="1500">
        <div class="basic">
          <h2>PRO Users</h2>
          <h4>$4.95/YEAR</h4>
          <h4><i class="bi bi-check-circle-fill icon-pro"></i>&nbsp;&nbsp;Everything for Basic Users.</h4>
          <h4><i class="bi bi-check-circle-fill icon-pro"></i>&nbsp;&nbsp;Add up to 300 listings (or<br>may be unlimited
            if don't have<br> any third package right now).</h4>
          <h4><i class="bi bi-check-circle-fill icon-pro"></i>&nbsp;&nbsp;Access to live Auctions.</h4>
          <h4><i class="bi bi-check-circle-fill icon-pro"></i>&nbsp;&nbsp;Pro Badge on all listings.</h4>
          <p>
            On each sale we charge 10% plus<br>
            10 cents (for porducts) or 20% plus<br>
            20 cents (for Services)
          </p>
          <h4 style="text-align: center; color:blue"><a>See more...</a></h4>
          <div class="butn1">
            <button type="button" class="button1">Subscribe to PRO</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 hot-badge2" data-aos="slide-up" data-aos-offset="200" data-aos-delay="10"
        data-aos-duration="1500">
        <div class="basic">
          <h2>Gold Users</h2>
          <h4>$7.95/YEAR</h4>
          <h4><i class="bi bi-check-circle-fill icon-gold"></i>&nbsp;&nbsp;Gold Badge.</h4>
          <h4><i class="bi bi-check-circle-fill icon-gold"></i>&nbsp;&nbsp;Unlimited listings.</h4>
          <h4><i class="bi bi-check-circle-fill icon-gold"></i>&nbsp;&nbsp;Blog (with 5-10 items for<br> promotion).
          </h4>
          <p>
            On each sale we charge 10% plus<br>
            10 cents (for porducts) or 20% plus<br>
            20 cents (for Services)
          </p>
          <h4 style="text-align: center; color:blue"><a>See more...</a></h4>
          <div class="butn2">
            <button type="button" class="button2">Subscribe to Gold</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 hot-badge3" data-aos="slide-right" data-aos-offset="200" data-aos-delay="10"
        data-aos-duration="1500">
        <div class="basic">
          <h2>Gold Users</h2>
          <h4>$9.95/YEAR</h4>
          <h4><i class="bi bi-check-circle-fill icon-plat"></i>&nbsp;&nbsp;Coming soon.</h4>
          <h4><i class="bi bi-check-circle-fill icon-plat"></i>&nbsp;&nbsp;Wholesale.</h4>
          <p>
            On each sale we charge 10% plus<br>
            10 cents (for porducts) or 20% plus<br>
            20 cents (for Services)
          </p>
          <h4 style="text-align: center; color:blue"><a>See more...</a></h4>
          <div class="butn3">
            <button type="button3" class="button3">Coming Soon</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div11">
  <h1 style="padding-top:30px; text-align: center;" data-aos="slide-right" data-aos-offset="200" data-aos-delay="10"
    data-aos-duration="1500">How to Get Started</h1>
  <div class="container">
    <div class="row" style="text-align: center;">
      <div class="col-4" data-aos="slide-right" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">
        <img src="../../assets/images/image.jpg" style="width:300px">
        <h3>Choose a Plan</h3>
      </div>
      <div class="col-4" data-aos="slide-down" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">
        <img src="../../assets/images/image.jpg" style="width:300px">
        <h3>Sign Up</h3>
      </div>
      <div class="col-4" data-aos="slide-left" data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">
        <img src="../../assets/images/image.jpg" style="width:300px">
        <h3>Get Access</h3>
      </div>
    </div>
  </div>
</div>
<div class="div12">
  <div class="conainer">
    <div class="row">
      <div class="col-6">
        <img src="../../assets/images/mobile.jpg" style="float: right; padding-top:50px;">
      </div>
      <div class="col-6 play-store">
        <h1>Download our App</h1>
        <div>
          <img src="../../assets/images/Google-Play-Logo.jpg" style="width:200px;" data-aos="slide-right"
            data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">&nbsp;&nbsp;&nbsp;
          <img src="../../assets/images/apple.png" style="width:200px; height: 60px;" data-aos="slide-left"
            data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div13">
  <h1 data-aos="slide-right"
  data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">Subscribe to Our Newsletter</h1>
  <div style="padding-left: 370px; padding-top: 25px;" data-aos="slide-left"
  data-aos-offset="200" data-aos-delay="10" data-aos-duration="1500">
    <input class="form-control border-secondary rounded-pill" type="search" placeholder="Enter your email here.."
      id="example-search-input2"><span class="glyphicon glyphicon-search"></span>
  </div>
</div>
<div class="div14">
  <div class="row" style="padding-top:35px;">
    <div class="container col-3">
      <img src="../../assets/images/logo.png" style="width:200px;">
      <h3>Follow us on...</h3>
      <div>
        <i class="bi bi-facebook" style="color:blue; font-size: 30px;"></i>&nbsp;&nbsp;
        <i class="bi bi-instagram" style="color: red; font-size:30px;"></i>&nbsp;&nbsp;
        <i class="bi bi-twitter" style="color:blue; font-size: 30px;"></i>&nbsp;&nbsp;
        <i class="bi bi-linkedin" style="color:blue; font-size: 30px;"></i>&nbsp;&nbsp;
      </div>
    </div>
    <div class="col-2">
      <h2>About Us</h2>
      <ul>
        <li>Our Community</li>
      </ul>
    </div>
    <div class="col-2">
      <h2>Quick link</h2>
      <ul>
        <li>Live Auctions</li>
        <li>Custom Made</li>
        <li>Exclusive Service</li>
        <li>Sponsorship</li>
        <li>Blog</li>
      </ul>
    </div>
    <div class="col-2">
      <h2>Apps</h2>
      <ul>
        <li>Pure Artisan</li>
        <li>The Trading Post</li>
      </ul>
    </div>
    <div class="col-2">
      <h2>Support</h2>
      <ul>
        <li>Help</li>
        <li>FAQs</li>
        <li>Privacy Policy</li>
        <li>Term of Service</li>
        <li>Contact Us</li>
      </ul>
    </div>
  </div>
</div>